.category-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.categoryTitle-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40rem; 
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.categoryImg-div img {
  max-width: 100%; 
  height: auto; 
}

.categoryText-Div {
  margin-left: 2rem;
}

.categoryTitle-div h2 {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.5rem; 
}

.categoryTitle-div p {
  margin-top: 2rem;
  margin-bottom: 2rem; 
  width: 100%; 
  line-height: 1.5rem; 
  font-weight: 400;
  font-size: 1rem; 
}

.categoryProductList-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; 
  justify-content: center;
  align-items: flex-start;
  max-width: 80%;
  margin: auto;
}

.scrollToTop-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

scrollToTop-wrapper:hover {
  color: rgb(93, 91, 91); 
}

@media (max-width: 768px) {
  .categoryTitle-div {
    flex-direction: column;
    align-items: center;
  }

  .categoryTitle-div img {
    max-width: 80%; 
    height: auto;
  }

  .categoryText-Div {
    margin-left: 0;
  }

  .categoryTitle-div h2 {
    font-size: 1.2rem; 
  }

  .categoryTitle-div p {
    margin-bottom: 1rem; 
    font-size: 0.9rem; 
  }
}



