.scroll-to-top-icon {
    font-size: 3rem; 
    color: white; 
    cursor: pointer; 
    transition: color 0.4s ease; 
    /* margin-left: 1.8rem;
    margin-top: 1.3rem; */
    /* align-self: center; */
}

.scroll-to-top-icon:hover {
    color: rgb(93, 91, 91); 
}