.ProductList-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center; /* Säkerställer vertikal linjering vid start */
    padding: 4rem; 
}

.productList-grid {
    flex: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center; 
    align-items: flex-start;  
    max-width: 80%; /* Maxbredd för att kontrollera gridens storlek */
    margin: auto;
}

.productCard-div {
    flex: 0 0 calc(33.333% - 3rem);
    margin-bottom: 3rem; 
}

/* Responsiv design för mindre skärmar */
@media only screen and (max-width: 1024px) {
    .productCard-div {
        flex: 0 0 calc(50% - 3rem); /* 2 produkter per rad på mindre skärmar */
    }
}

@media only screen and (max-width: 600px) {
    .productCard-div {
        flex: 0 0 100%; /* 1 produkt per rad på mycket små skärmar */
    }
}

