.productDetail-content {
   
}

.productDetail-section {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 80%; /* Tar upp 60% av bredden */
    height: 80vh; /* Justera efter behov */
    margin: auto; /* Centrerar sektionen */
    background: #fff; /* Bakgrundsfärg, justera efter behov */
    
}

/* .img-container {
    position: relative;
    background-color: blue;
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    overflow: hidden; 
    
}
  
.img-container img {
    max-height: 30%; 
    max-width: 30%; 
    object-fit: contain; 
} */
.img-container{
    flex: 1;
}
.product-info {
    
    flex: 1; /* Tar upp andra hälften av bredden */
    display: flex;
    flex-direction: column;
    align-items: start; 
    padding: 20px; 
    gap: 10px; 
    margin-left: 3rem;
}

.product-info h3 {
    font-weight: 500;
    font-size: 22px;

}

.product-color {
    font-weight: 500;
}

.product-price {
    font-weight: 500;
}

/* Stil för köpknappen */
.buy-button {
    background-color: rgb(93, 91, 91); 
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: rgb(143, 137, 137); 
}

/* @media (max-width: 768px) {
    .img-container img {
        max-height: 50%;
        max-width: 50%;
    }
} */

