.productDetail-section {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    /* background-color: blueviolet; */
    /* background: #fff;  */
    
}

.img-container{
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    /* min-height: 300px; */
    /* background-color: aquamarine; */

    
}

.img-container img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    height: 80%;
    /* width: 25rem;
    height: 30rem; */
    aspect-ratio: 3/2;
    object-fit: contain;   
   
}

.arrow-icons {
    width: 60%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.1rem;
    position: absolute;
    color: rgb(51, 49, 49);
}
 
.arrows {
    font-size: 2rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5); /* Vit halvgenomskinlig bakgrund */
    border-radius: 50%; /* Gör bakgrunden cirkulär */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px; /* Eller den storlek som passar för dina ikoner */
    height: 38px;
    transition: background-color 0.3s ease;
}
.arrows:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Gör bakgrunden mer synlig vid hovring */
}

.product-info {
    flex: 1; 
    height: 30rem;
    gap: 2rem; 
    display: flex;
    flex-direction: column; 
    align-items: start;  
    padding: 20px;  
    margin-right: 2rem;
    /* background-color: blue; */
}

.product-info h3 {
    font-weight: 500;
    font-size: 22px;

}

.product-color {
    font-weight: 500;
}

.product-price {
    font-weight: 500;
}


.buy-button {
    background-color: rgb(93, 91, 91); 
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: rgb(143, 137, 137); 
}

@media (max-width: 768px) {
    .img-container img {
        max-height: 50%;
        max-width: 50%;
    }
}




